.myInput
{
/* 	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090; */
	padding: 0px;
	margin-top:1%;
	font-size: 100%;
}
.myInput>.myInputButtonMinus,.myInput>.myInputButtonPlus
{
	font-size:130%;
	font-weight:bold;
	color: #eeeeee;
	width: 20%;
	height: 15%;
	text-align:center;
	padding:0px;
	background-color: #444444;
	border: 2px solid #000000;
	
}

.myInput>.myInputBox
{
	border: 0px;
	margin: 0px;
	font-size: 130%;
	height:15%;
	width: 30%;	
	padding: 0;

	text-align:center;
}


#pageone
{
	font-size: 70%;
}

#scan
{
	font-size: 115%;	
}

#payButton
{
	font-size: 115%;	
}


#head > div.ui-grid-a
{
	text-align: center;
}

#head > div.ui-grid-b
{
	background-color: #222222;
}

#btnExpand,#btnCollapse,#btnDelete
{
	width: 70%;
	background-color: #000000;
	font-size: 100%
}

#pageone > div.ui-content
{
	padding: 0;
}

#wrapper
{
	padding: 2%;
}


.imagesOnPageone
{
	height: 125px;
}




#pagetwoHeader
{
font-size:80%;

}
#viewbill
{
	padding: 2%;
}
#grandTotal
{
font-size:120%;
margin:0;
text-align:center;}
#totalDiscount
{
margin:0;
text-align:center;
}

#billDetails>h3
{
font-size:60%;
}

#billDetails > div:nth-child(4) > h3,#billDetails > div:nth-child(3) > h3,#billDetails > div:nth-child(2) > h3,#billDetails > div:nth-child(1) > h3
{
font-size:80%;
}


#bd
{
font-size:80%;
}

#finalSend
{

	font-size: 80%;
}


#viewbill > div.ui-footer.ui-bar-b.ui-footer-fixed.slideup > div > ul > li.ui-block-b > a
{
	font-size: 80%;
}


#viewbill > div.ui-footer.ui-bar-b.ui-footer-fixed.slideup > div > ul > li.ui-block-c > a
{
	font-size: 80%;

}


