.myInput
{
/* 	border-top: 1px solid #909090;
	border-bottom: 1px solid #909090; */
	padding: 0px;
	margin-top:1%;
/* 	margin-right:25%;
	margin-left:45%; */
/* 	background-color: yellow; */
	height: 30%;
}
.myInput>.myInputButtonMinus,.myInput>.myInputButtonPlus
{
	font-size:100%;
	font-weight:bold;
	color: #eeeeee;
	width: 30%;
	height: 15%;
	text-align:center;
	padding:0px;
	background-color: #444444;
	border: 2px solid #000000;
	position:relative;
/* 	float: left; */
	
}


.myInput>.myInputBox
{
	border: 0px;
	margin: 0px;
	font-size: 100%;
	height:15%;
	width: 40%;	
	padding: 0;
	text-align: center;
	position:relative;
/* 	float: center; */
}


#pageone
{
	font-size: 100%;
}

#scan
{
	font-size: 90%;	
}

#payButton
{
	font-size: 90%;	
}


#head > div.ui-grid-a
{
	text-align: center;
}

#head > div.ui-grid-b
{
	background-color: #222222;
}

#btnExpand,#btnCollapse,#btnDelete
{
	width: 70%;
	background-color: #000000;
	font-size: 100%
}

#pageone > div.ui-content
{
	padding: 0;
}

#wrapper
{
	padding: 2%;
	padding-top:0;
}


.imagesOnPageone
{
	height: 60px;
}



#pagetwo
{
	font-size: 100%;
}
#pagetwoHeader
{
font-size:100%;

}
#viewbill
{
	padding: 2%;
}
#grandTotal
{
font-size:130%;
margin:0;
text-align:center;}
#totalDiscount
{
margin:0;
text-align:center;
}

#billDetails>h3
{
font-size:100%;
}

#billDetails > div:nth-child(4) > h3,#billDetails > div:nth-child(3) > h3,#billDetails > div:nth-child(2) > h3,#billDetails > div:nth-child(1) > h3
{
font-size:100%;
}


#bd
{
font-size:100%;
}

#finalSend
{

	font-size: 90%;
}


#viewbill > div.ui-footer.ui-bar-b.ui-footer-fixed.slideup > div > ul > li.ui-block-b > a
{
	font-size: 90%;
}


#viewbill > div.ui-footer.ui-bar-b.ui-footer-fixed.slideup > div > ul > li.ui-block-c > a
{
	font-size: 90%;

}
/* .confirm_selection {
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
} */
.confirm_selection {
    text-shadow: 0 0 10px red; /* replace with whatever color you want */
}